@define-color bg #1c1c1e;
@define-color fg #f2f4f8;

* {
  border: none;
  padding: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-weight: normal;
  font-size: 16px;
}

#waybar > .horizontal {
    padding-top: 1.5px;
}

window#waybar {
  background-color: @bg;
  border-radius: 5px;
  color: @fg;
  transition-property: background-color;
  transition-duration: .5s;
}

#workspaces {
  padding: 0 5px;
  margin: 0;
}

#workspaces button {
  all: initial;
  padding: 0 2px;
  margin: 0 0 0 8px;
  opacity: 1;
  color: @fg;
}

#workspaces button.active {
    color: @fg;
    opacity: 1.0;
    padding: 0 2px;
    font-size: 15px;
}

#workspaces button.empty {
  opacity: 0.3;
}

#workspaces button.empty.active {
 font-size: 15px;
 color: @fg;
 opacity: 1.0;
}

#tray,
#cpu,
#memory,
#battery,
#backlight,
#network,
#pulseaudio,
#power-profiles-daemon,
#clock,
#mpris,
#custom-timer {
  min-width: 12px;
  margin: 0 7px;
  padding: 0 2px;
}

#tray {
    background-color: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: transparent;
}

.hidden {
  opacity: 0;
}

#power-profiles-daemon,
#power-profiles-daemon.performance,
#power-profiles-daemon.balanced,
#power-profiles-daemon.power-saver {
font-size: 16px;
margin-right: 10px;
}

#mpris {
color: @fg;
padding-top: 0;
padding-bottom: 1px;
}

#battery.warning {
  color: #c95d0f;
  background-color: @bg;
}

@keyframes blink2 {
  to {
    background-color: transparent;
    color: #f53c3c;
  }
}

#battery.critical:not(.charging) {
  background-color: transparent;
  color: #f53c3c;
  animation-name: blink2;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-timer.running,
#custom-timer.paused {
  color: #42be65;
}
#custom-timer.stopped {
  color: #a8b0c0;
}
#custom-timer.done {
  color: #ee5396;
}

tooltip {
 padding: 4px;
 background: @bg;
 border: 1px solid alpha(@fg, 0.8);
 border-radius: 8px;
}
tooltip label {
    color: @fg;
    font-weight: normal;
}
