/**
 * Oxocarbon Color Scheme
 * IBM Carbon Design inspired
 **/

* {
    background:     #121212FF;
    background-alt: #1e1e1eFF;
    foreground:     #f2f4f8FF;
    selected:       #82aaffFF;
    active:         #42be65FF;
    urgent:         #ee5396FF;
}
